In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
sns.set_style("darkgrid")

In [3]:
# country codes conversion
country_csv = ("country_codes.csv")
country_df = pd.read_csv(country_csv)
country_df2 = country_df[["Alpha-2 code","Alpha-3 code"]].copy()
country_df3 = country_df2.rename(columns={'Alpha-3 code': 'NOC'}, inplace = False)
country_df3.head()

  Alpha-2 code  NOC
0           AF  AFG
1           AX  ALA
2           AL  ALB
3           DZ  DZA
4           AS  ASM

In [5]:
path = ("athlete_events.csv")
df_events = pd.read_csv(path)


#df_events["join_id"] = df_events["NOC"] + df_events["Year"].astype(str)
# summer_df = df_events[df_events['Season'] == 'Summer']
# summer_df["BMI"] = summer_df["Weight"]/((summer_df["Height"]/100)**2)
# Add numerical value for medals? 3 = gold, 2= silver, 1 bronze and no medal = 0
df_events_a = pd.merge(df_events, country_df3, on="NOC")

df_events_a.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Alpha-2 code
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,CN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,CN
2,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,NaN,CN
3,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",NaN,CN
4,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,NaN,CN
5,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 4 x 200 metres Freestyle Relay,NaN,CN
6,3605,An Weijiang,M,22.0,178.0,72.0,China,CHN,2006 Winter,2006,Winter,Torino,Speed Skating,Speed Skating Men's 500 metres,NaN,CN
7,3605,An Weijiang,M,22.0,178.0,72.0,China,CHN,2006 Winter,2006,Winter,Torino,Speed Skating,"Speed Skating Men's 1,000 metres",NaN,CN
8,3610,An Yulong,M,19.0,173.0,70.0,China,CHN,1998 Winter,1998,Winter,Nagano,Short Track Speed Skating,Short Track Speed Skating Men's 500 metres,Silver,CN
9,3610,An Yulong,M,19.0,173.0,70.0,China,CHN,1998 Winter,1998,Winter,Nagano,Short Track Speed Skating,"Short Track Speed Skating Men's 1,000 metres",NaN,CN

In [6]:
path3 = ("country_lat_long.csv")
lat_long_df = pd.read_csv(path3)
lat_long_df2 = lat_long_df.rename(columns={'country': 'Alpha-2 code'})

df_events_b = pd.merge(df_events_a, lat_long_df2, on="Alpha-2 code")
df_events_b.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Alpha-2 code,latitude,longitude,name
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,CN,35.86166,104.195397,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,CN,35.86166,104.195397,China
2,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,NaN,CN,35.86166,104.195397,China
3,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",NaN,CN,35.86166,104.195397,China
4,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,NaN,CN,35.86166,104.195397,China

In [ ]:
# May not need the cells below

In [ ]:
# display just the columns needed to look at age over time
age_df = summer_df[["ID","Name","Sex","Age","Sport","Event","Year"]].copy()
age_df = age_df[age_df['Age'].notna()]
age_df.shape
age_df.head()

In [ ]:
# women and age 
age_df_f = age_df[(age_df.Sex == "F")]
age_df_f.shape

In [ ]:
chart = sns.boxplot(x='Year', y='Age', data = age_df_f )
chart.set_xticklabels(chart.get_xticklabels(), rotation=90)
plt.xlabel("Olympic Year", fontsize= 12)
plt.ylabel("Athlete Age", fontsize= 12)
plt.title("Age vs Olympic Year Held (Women)", fontsize= 15)

In [ ]:
chart = sns.boxplot(x='Sport', y='Age', data = age_df_f )
chart.set_xticklabels(chart.get_xticklabels(), rotation=90)
plt.xlabel("Sport", fontsize= 12)
plt.ylabel("Athlete Age", fontsize= 12)
plt.title("Age vs Sport (Women)", fontsize= 15)

In [ ]:
# How many sports for female athletes?

sport_list = age_df_f["Sport"].value_counts()
sport_list

In [ ]:
# how many events for female athletes?
event_list_w = age_df_f["Event"].nunique()
event_list_w

In [ ]:
# women and age only Athletics
age_df_f_ath = age_df[(age_df.Sport == "Athletics")]
age_df_f_ath.head()

In [ ]:
# men and age 
age_df_m = age_df[(age_df.Sex == "M")]
age_df_m.shape
age_df_m.head()

In [ ]:
## BMI

In [ ]:
# display just the columns needed to look at BMI over time
bmi_df = summer_df[["ID","Name","Sex","BMI","Sport","Event","Year"]].copy()
bmi_df = bmi_df[bmi_df['BMI'].notna()]
bmi_df.shape
bmi_df.head()

In [ ]:
# BMI for female athletes
bmi_df_f = bmi_df[(bmi_df.Sex == "F")]
bmi_df_f

In [ ]:
# BMI for male athletes
bmi_df_m = bmi_df[(bmi_df.Sex == "M")]
bmi_df_m